:root {
  font-family: 'open sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1f3a3a;
}

img {
  display: block;
}

.app-container {
  width: 500px;
  min-height: 500px;
  background-color: #304949;
  border-radius: 1em;
  padding: 1.2em 2.8em;
}

.app-container h1 {
  color: #c0c9d1;
  line-height: 1;
  display: inline-block;
}

.app-container .version {
  font-size: 0.8em;
  line-height: 0.1;
  color: #50b686;
  display: inline-block;
  padding-left: 10px;
}

.app-container p {
  color: white;
  font-size: 0.9em;
  line-height: 1;
  margin-bottom: 60px;
}

.app-container p img {
  float: left;
  margin-right: 20px;
}

ul.questions {
  color: #fff;
  padding: 0;
}

ul.questions li {
  list-style: none;
  margin-bottom: 20px;
}

ul.questions li #date {
  display: inline-block;
  margin-left: 60px;
  color: white;
  font-weight: 600;
}

ul.questions li input {
  margin-left: 20px;
  margin-bottom: 20px;
}

ul.questions li span#stones {
  padding-left: 40px;
}

ul.questions li input#date,
ul.questions li input#pounds {
  background-color: #304949;
  border: none;
  color: #50b686;
  border-bottom: 1px solid #fff;
  font-family: 'open sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul.questions li input::-webkit-outer-spin-button,
ul.questions li input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul.questions li input[type=number] {
  -moz-appearance: textfield;
}

ul.questions li p {
  color: #50b686;
}

ul.questions li p span {
  color: #fff;
}

.buttons input[type=button] {
  background-color: #304949;
  border: 1px solid #3f5e5e;
  border-radius: 6px;
  padding: 0.4em;
  color: #fff;
  font-family: 'open sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.buttons input[type=button]:hover {
  background-color: #fff;
  color: #304949;
  cursor: pointer;
}

.buttons input#deleteLast {
  background-color: #b36262;
  font-size: 12px;
}

.buttons input#deleteLast:hover {
  background-color: #fff;
  color: #304949;
  cursor: pointer;
}

.buttons input#calculate {
  background-color: #50b686;
  margin-left: 60px;
}

.buttons input#calculate:hover {
  background-color: #fff;
  color: #304949;
  cursor: pointer;
}

ul#result01 li {
  list-style: none;
  padding: 0;
  color: #50b686;
  font-family: 'open sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul#result01 li span {
  color: #ddd3d3;
  padding-left: 20px;
}

#results {
  margin: 30px 0px;
  color: #ddd3d3;
  font-family: 'open sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
